<h2><%=l(:label_information_plural)%></h2>

<!-- <p><strong><%= Redmine::Info.versioned_name %></strong></p>

<table class="list">
<% @checklist.each do |label, result| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td class="name"><%= l(label) %></td>
    <td class="tick"><%= image_tag((result ? 'true.png' : 'exclamation.png'),
                                    :style => "vertical-align:bottom;") %></td>
  </tr>
<% end %>
</table>
<br />
<div class="box">
<pre><%= Redmine::Info.environment %></pre>
</div>

<% html_title(l(:label_information_plural)) -%>
 -->
Comstar ISA Ltd. is a leading Integrated Communication Systems and Service Provider. Headquartered in Karachi, Pakistan, Comstar has been designing, integrating and commissioning remote communications systems since 1996. Comstar services critical business clients with a wide range of fixed terrestrial broadband and satellite communication.
</br></br></br><hr/>
<b>Engineering</b></br>
Services</br>
iDirect Connect and SCPC VSAT Services</br>
Broadband Fixed Wireless Services</br>
IT Infrastructure</br>
Managed Services</br>
WAN Optimization</br>
Routing Switching and Security</br>
</br></br></br><hr/>
<b>Software</b></br>
Services</br>
Web Design and Development</br>
ERP Solution</br>
Customer Relationship Management (CRM)</br>
Complaint/Trouble Ticket Management</br>
Cloud Application Development</br>
Mobile Application Development</br>
</br></br></br><hr/>
Tel: 92-21-5637107-112</br>
Fax: 92-21-5638818</br>
UAN: 111-566-111</br>
Direct Sales Line: +9221 35637128